<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <ul class="sidebar-menu">
       <!--  <li class="header">MAIN NAVIGATION</li> -->
        <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>

        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="fa fa-cog"></i> <span>Settings</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class=""><a href="/admin/codecategory"><i class="fa fa-list"></i>Code category</a></li>
            <li class=""><a href="/admin/codemaster"><i class="fa fa-table"></i>Code master</a></li>
            <li class=""><a href="/admin/firmcodes"><i class="fa fa-table"></i>Firm Codes</a></li>
            <li class=""><a href="/admin/section"><i class="fa fa-language"></i>Sections</a></li>
            <li class=""><a href="/admin/practice-area"><i class="fa fa-area-chart" aria-hidden="true"></i>Practice Area</a></li>
            <li class=""><a href="/admin/firmgroup"><i class="fa fa-group" aria-hidden="true"></i>Firm Group</a></li>
            <li class=""><a href="/admin/designation"><i class="fa fa-briefcase" aria-hidden="true"></i>Designation</a></li>

            <li class=""><a href="/admin/group"><i class="fa fa-users" aria-hidden="true"></i>Group</a></li>

            <li class=""><a href="/admin/app-profile"><i class="fa fa-user" aria-hidden="true"></i>App Profiles</a></li>
            <li class=""><a href="/admin/import-excel"><i class="fa fa-briefcase" aria-hidden="true"></i>Import Excel Data</a></li>
            <li class=""><a href="/admin/import-user"><i class="fa fa-briefcase" aria-hidden="true"></i>Import User List</a></li>

          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
