<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <ul class="sidebar-menu">
       <!--  <li class="header">MAIN NAVIGATION</li> -->
        <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>

        {{#if_eq user.role_code "SITEADM"}}
        <li class="treeview {{#if (or (eq active "codecategory")(eq active "codemaster"))}} active{{/if}}
        {{#if (or (eq active "firmcodes")(eq active "section"))}} active{{/if}}
        {{#if (or (eq active "practice-area")(eq active "firmgroup"))}} active{{/if}}
        {{#if (or (eq active "designation")(eq active "group"))}} active{{/if}}
        {{#if (or (eq active "role")(eq active "app-profile"))}} active{{/if}}
        {{#if (or (eq active "import-excel")(eq active "import-user"))}} active {{/if}}
        {{#if (or (eq active "industry-type")(eq active "jurisdiction"))}} active {{/if}}
        {{#if (or (eq active "budgetcodetype")(eq active "budgetcode"))}} active {{/if}}
        {{#if (or (eq active "job-type")(eq active "job-type"))}} active {{/if}}
        {{#if (or (eq active "attorney-type")(eq active "attorney-type"))}} active {{/if}}">


          <a href="javascript:void(0)">
            <i class="fa fa-cog"></i> <span>Settings</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <!-- <li class="{{#if (eq active "codecategory")}} active {{/if}}"><a href="/admin/codecategory"><i class="fa fa-list"></i>Code category</a></li> -->
            <!-- <li class="{{#if (eq active "codemaster")}} active {{/if}}"><a href="/admin/codemaster"><i class="fa fa-table"></i>Code master</a></li> -->
            <li class="{{#if (eq active "firmcodes")}} active {{/if}}"><a href="/admin/firmcodes"><i class="fa fa-table"></i>Firm Codes</a></li>
            <li class="{{#if (eq active "section")}} active {{/if}}"><a href="/admin/section"><i class="fa fa-language"></i>Sections</a></li>
            <li class="{{#if (eq active "practice-area")}} active {{/if}}"><a href="/admin/practice-area"><i class="fa fa-area-chart" aria-hidden="true"></i>Practice Area</a></li>
            <li class="{{#if (eq active "firmgroup")}} active {{/if}}"><a href="/admin/firmgroup"><i class="fa fa-group" aria-hidden="true"></i>Firm Group</a></li>
            <li class="{{#if (eq active "designation")}} active {{/if}}"><a href="/admin/designation"><i class="fa fa-briefcase" aria-hidden="true"></i>Designation</a></li>
            <li class="{{#if (eq active "role")}} active {{/if}}"><a href="/admin/role"><i class="fa fa-tasks" aria-hidden="true"></i>Role</a></li>
            <li class="{{#if (eq active "group")}} active {{/if}}"><a href="/admin/group"><i class="fa fa-users" aria-hidden="true"></i>Group</a></li>
            <li class="{{#if (eq active "app-profile")}} active {{/if}}"><a href="/admin/app-profile"><i class="fa fa-user" aria-hidden="true"></i>App Profiles</a></li>
            <li class="{{#if (eq active "import-excel")}} active {{/if}}"><a href="/admin/import-excel"><i class="fa fa-briefcase" aria-hidden="true"></i>Import Excel Data</a></li>
            <li class="{{#if (eq active "import-user")}} active {{/if}}"><a href="/admin/import-user"><i class="fa fa-briefcase" aria-hidden="true"></i>Import User List</a></li>
            <li class="{{#if (eq active "industry-type")}} active {{/if}}"><a href="/admin/industry-type"><i class="fa fa-industry" aria-hidden="true"></i>Industry Type</a></li>
            <li class="{{#if (eq active "jurisdiction")}} active {{/if}}"><a href="/admin/jurisdiction"><i class="fa fa-map-marker" aria-hidden="true"></i>Jurisdiction</a></li>
            <li class="{{#if (eq active "budgetcodetype")}} active {{/if}}"><a href="/admin/budgetcodetype"><i class="fa fa-money" aria-hidden="true"></i>Budget Code Type</a></li>
            <li class="{{#if (eq active "budgetcode")}} active {{/if}}"><a href="/admin/budgetcode"><i class="fa fa-tags" aria-hidden="true"></i>Budget Code</a></li>
            <li class="{{#if (eq active "job-type")}} active {{/if}}"><a href="/admin/job-type"><i class="fa fa-suitcase" aria-hidden="true"></i>Job Types</a></li>
            <li class="{{#if (eq active "attorney-type")}} active {{/if}}"><a href="/admin/attorney-type"><i class="fa fa-user" aria-hidden="true"></i>Attorney Types</a></li>

          </ul>
        </li>
        {{/if_eq}}
        {{#if_eq user.role_code "SITEADM"}}
        <li class="treeview {{#if (or (eq active "firm")(eq active "firm"))}} active {{/if}}">
          <a href="javascript:void(0)">
            <i class="fa fa-cog"></i> <span>Firm Operation</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{{#if (eq active "firm")}} active {{/if}}"><a href="/admin/firm"><i class="fa fa-list"></i>Firms</a></li>
          </ul>
        </li>
        {{/if_eq}}

        {{#if_eq user.role_code "FIRMADM"}}
          <li class="{{#if (eq active "my-profile")}} active {{/if}}"><a href="/admin/firm/my-profile"><i class="fa fa-dashboard"></i> <span>Firm Profile</span></a></li>
        
        {{/if_eq}}
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
