<section class="content-header">
      <h1>
        Add Firm

      </h1>
      <ol class="breadcrumb">
        <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="/admin/firm">Firms</a></li>
        <li class="active">Add</li>
      </ol>

      <section class="content">

      <div class="row">

        <div class="col-md-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab" aria-expanded="true">Firm Admin Credential</a></li>
              <li class=""><a href="#generalInfo" data-toggle="tab" aria-expanded="false">Firm details</a></li>
              <li class=""><a href="#approval" data-toggle="tab" aria-expanded="false">Approval Levels</a></li>
              <li class=""><a href="#picture" data-toggle="tab" aria-expanded="false">Upload Photo</a></li>
            </ul>
            <div class="tab-content">
              <!-- /@@@@@@@@@@@@ first tab @@@@@@@@@@@@@@/ -->
              <div class="tab-pane active" id="activity">
                <form class="form-horizontal" name="frmFirm" id="frmFirm" method="post" action="/admin/firm/add">
                  <div class="form-group">
                    <label for="first_name" class="col-sm-2 control-label">First Name</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="last_name" class="col-sm-2 control-label">Last Name</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Password</label>

                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    <div>
<script>
$('.level1').show();
$('.level2').hide();
$('.level3').hide();
$('.level4').hide();
$('.approval_process').on('click', function(){
var approval_process = $(this).val();
if(approval_process === '1'){
   $('.level1').show();
   $('.level2').hide();
   $('.level3').hide();
   $('.level4').hide();
} else if(approval_process === '2') {
    $('.level1').show();
    $('.level2').show();
    $('.level3').hide();
    $('.level4').hide();
} else if(approval_process === '3'){
    $('.level1').show();
    $('.level2').show();
    $('.level3').show();
    $('.level4').hide();
} else if(approval_process === '4') {
    $('.level1').show();
    $('.level2').show();
    $('.level3').show();
    $('.level4').show();
}

});
</script>
<link  media="all" type="text/css" rel="stylesheet" href="/admin/css/bootstrap-multiselect.css">
<script type="text/javascript" src="/admin/js/bootstrap-multiselect.js"></script>
</section>
</section>
